body{
    margin: 0px;
    background-color: #181823;
    color: #C0EEF2;
    font-family: 'Dancing Script', cursive;;
}

.wotlklogo{
    display: block;
    margin: 0 auto;
    height: 10%;
    width: 20%;
    padding-bottom: 70px;
}
.arthas-purge{
    border-radius: 15%;
    height: 30%;
    width: 60%;
}

.img-text{
    font-size: 250%;
    position: absolute;
    margin-left: 3%;
}
.subtext{
    font-size: 60%;
}
.top-container{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
}
.bodytext{
    text-align: center;
}